@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white font-sans antialiased;
}

::selection {
  background-color: #ab0000;
  color: white;
}


#app {
  min-height: 100vh;
}

